/* Components */
.bio__media {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  img {
    height: 120px;
  }
}
.bio__media__text {
  padding: 1rem;
  h1{
    font-size: 36px;
    font-weight: 900;
    color: #DB5461;
  }
  p {
    font-weight: 100;
    font-size: 16px;
    line-height: 1.5rem;
  }
}
.cards {
  justify-content: space-evenly;
}
.card__custom {
  position: relative;
  display: flex;
  max-width: 400px;
  height: 300px;
  min-height: 300px;
  padding: 0.5rem;
  margin-bottom: 3rem;
  flex-grow: 1;
  flex-basis: calc(100% / 2 - 1rem);
  align-items: center;
  justify-content: space-between;
}
.card__custom > .card__custom__text {
  max-width: calc((100% / 3) *2);
  text-align: right;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}
.card__custom__img {
  position: absolute;
  width: 70%;
  height: 100%;
  background-image: url(../img/cards_bg_img.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  z-index: -1;
  left: 60%;
  transform: translateX(-50%);
  border-radius: 85px 0 100px 25px;

}
.card_custom__button a, .btn_load_more {
  background: #F1EDEE;
  border: 5px solid #3D5467;
  box-sizing: border-box;
  border-radius: 54px;
  padding: 0.5rem 1rem;
  font-weight: 900;
  color: #3D5467;
  &:hover {
    cursor: pointer;
    background: #324555;
    color: white;
    border-color: #DB5461;
    transition: 1s;
  }
}
.card__custom__text h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
}
/* END Componenet */
/* Header */
#site_header {
  text-align: center;
  padding: 2rem 1rem;
  justify-content: space-between;
  align-items: center;
}
#site_header > h1 {
  text-transform: uppercase;
}
nav {
  margin-left: auto;
  a {
    color: #e2e2e2;
    text-transform: uppercase;
    font-weight: 900;
    &:hover {
      color: #DB5461;
    }
  }
}
/* Portfolio Page Section */
#portfolio {
  margin-top: 4rem;
  h2 {
    margin-left: 180px;
    font-size: 44px;
    color: #f1edee;
    line-height: 2rem;
    &:first-child {
      margin-bottom: 4rem;
    }
  }
}
#portfolio .projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
/* Skills */
#skills_section {
  margin-top: 4rem;
  min-height: 300px;
  background-image: url(../img/skills_bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
}
#skills_section ul {
  list-style: none;
  margin: 20px 120px;
  display: flex;
  flex-wrap: wrap;
}
#skills_section ul  li {
  padding: 1rem;
  margin: 0.5rem;
  background-color: #DB5461;
  border: 5px solid #3D5467;
  border-radius: 35px;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 1rem;
}
.card__back {
  display: none;
}
.rotate__card {
  transform: rotate3d(360,0,0,180deg);
}
/* Media Query  */
@media screen and (max-width: 768px) {
  .cards {
    flex-basis: 100%;
  }
  #portfolio h2 {
    margin-left: 40px;
  }
  #skills_section h2 {
    font-size: 2.5rem;
    color: #db5461;
  }
}
