/* Utility Classes */
.d_none {
  display: none;
}
.d_flex {
  display: flex;
  flex-wrap: wrap;
}
.container {
  max-width: 1170px;
  margin: auto;
}
a {
  color: white;
}
a:hover {
  color:#DB5461;
}
.loading {
  font-size: 2rem;
}
/* END Utility Classes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  color: white;
  background: linear-gradient(116.82deg, #3D5467 0%, #1A232B 99.99%, #333333 100%);
}
a {
  text-decoration: none;
}
/* Site Footer */
footer {
  text-align: center;
  padding: 2rem 0;
}
